.__link {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .__link {
      font-size: calc(100vw * (18 / 768));
      line-height: calc(100vw * (22 / 768));
    }
  }
  
  @media screen and (max-width: 320px) {
    .__link {
      font-size: calc(100vw * (18 / 320));
      line-height: calc(100vw * (22 / 320));
    }
  }