
.__logo {
    width: 142px;
    height: 42px;
    background-image: url('../../../images/header-logo.svg');
    background-size: cover;
  }
  
  @media screen and (max-width: 320px) {
    .header .__logo {
      width: calc(100vw * (142 / 320));
      height: calc(100vw * (42 / 320));
    }
  }

