.places .__image {
    max-width: 460px;
    margin: 0;
  }
  
  @media screen and (max-width: 1024px) {
    .places .__image {
      width: calc(100vw * (440 / 1024));
    }
  }
  
  @media screen and (max-width: 768px) {
    .places .__image {
      width: calc(100vw * (340 / 768));
    }
  }
  
  @media screen and (max-width: 320px) {
    .places .__image {
      width: 100%;
    }
  }
