.intro {
    max-width: 690px;
    margin-left: 148px;
    padding-top: 92px;
  }
  
  @media screen and (max-width: 1024px) {
    .intro {
      width: calc(100vw * (690 / 1024));
      margin-left: calc(100vw * (48 / 1024));
    }
  }
  
  @media screen and (max-width: 768px) {
    .intro {
      width: calc(100% - 48px);
      padding-top: calc(100vw * (88 / 768));
      margin-left: 24px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .intro {
      width: calc(100vw * (288 / 320));
      margin: 0 auto;
      padding: 20vw 0 0;
    }
  }

