

.lead .__subtitle {
    max-width: 640px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
    white-space: pre-line;
    margin: 32px auto 0;
}

@media screen and (max-width: 768px) {
  .lead .__subtitle {
    font-size: calc(100vw * (16 / 300));
    line-height: calc(100vw * (20 / 300));
  }
}

@media screen and (max-width: 320px) {
  .lead .__subtitle {
    font-size: calc(100vw * (16 / 320));
    line-height: calc(100vw * (20 / 320));
    margin: 5vw auto 0;
  }
}




