.footer {
    display: flex;
    justify-content: space-between;
    padding: 92px 48px 24px;
    margin: 0;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      padding: 11.4583vw 3.125vw 3.125vw;
    }
  }
  
  @media screen and (max-width: 320px) {
    .footer {
      max-width: 186px; 
      flex-direction: column;
      padding: 20vw 37vw 7.5vw 5vw;
    }
  }